<nav>
    <a href="/"><img src="assets/img/logo_pink.svg" alt="" class="logo"></a>
    <ul id="navPink">
        <li><a href="/work" class="<%=title === 'Work' ? 'navActiveDark' : ''%>">Work</a></li>
        <li><a href="/about"class="<%=title === 'About' ? 'navActiveLight' : ''%>">About</a></li>
        <li><a href="/news" class="<%=title === 'News' ? 'navActiveDark' : ''%>">News</a></li>
        <li><a href="/thinking" class="<%=title === 'Thinking' ? 'navActiveLight' : ''%>">Thinking</a></li>
        <li><a href="/contact"class="<%=title === 'Contact' ? 'navActiveDark' : ''%>">Contact</a></li>
    </ul>
    <img src="assets/img/menu_pink.svg" alt="" class="dots"onclick="on()">
</nav>